{% extends 'base.html.twig' %}

{% block title %}Wild Series | All Series
{% endblock %}

{% block body %}

	<div class="container">
		<header>

			<h1 class="my-5">You can find in here all the series:</h1>

			<h3 class="mb-5">Didn't you find a serie?
				<a class="btn btn-success mx-5" href="/programs/new">Add a new serie</a>
			</h3>

		</header>
		<section class="container">


			{% for program in programs %}
				<div class="row">
					<div class="col col-sm-12 col-md-12 col-lg-4">
						<img class="align-self-start  w-100 p-5" src="{{program.poster}}" alt="{{ program.title }} poster">
					</div>

					<div class="col col-sm-12 col-md-12 col-lg-8 mt-5">


						<div>
							<a class="link-secondary" href="{{ path("program_show", { "program_slug": program.slug }) }}">
								<h2 class="fw-bold">{{ loop.index }}
									:
									{{ program.title }}</h2>
							</a>
							<p>
								<span class="fw-bold">Category:</span>
								{{ program.category.name }}</p>
							<p>
								<span class="fw-bold">Summary:</span>
								{{ program.summary }}</p>
						</div>
					</div>

                    </div>
				{% else %}
					No serie found :(
				{% endfor %}

				<a class="btn btn-dark m-auto text-center" href="{{ path('app_index') }}">
					Return to home page
				</a>
			</div>

		{% endblock %}
