{% extends 'base.html.twig' %}

{% block title %}Wild Séries | 
		Serie

	{{ program.title }}
	Season
	{{ season.number }}
{% endblock %}

{% block stylesheets %}

	{{ parent() }}
{% endblock %}

{% block body %}

	<section class="container">
		<div class="row">
			<div class="col-4 mt-5">
				<img class="align-self-start  w-100 mt-5 p-5" src="{{program.poster}}" alt="{{ program.title }} poster">
			</div>
			<div class="col-8 mt-5">

				<h1 class="mt-5">{{program.title}}
					| Season
					{{ season.number }}</h1>

				<p>
					<span class="fw-bold">Description:
					</span>
					{{ season.description }}</p>

				{% for episode in episodes %}
				{% dump(episode) %}
					<a class="btn btn-secondary d-block my-3 w-25" href="{{ path("program_episode_show", {"program_slug": program.slug, "season_id": season.id, "episode_slug": episode.slug}) }}">
						<span class="fw-bold">Episode
							{{episode.number}}</span>
						-
						{{ episode.title }}</span>
				</a>


			{% endfor %}

		</div>
		<a class="btn btn-dark  w-25 m-auto my-5" href="{{ path('program_index') }}">
		Return to the Programs page
	</a>
	</div>

	
</section>{% endblock %}
