{% extends 'base.html.twig' %}

{% block title %}Wild Séries | Serie
	{{ program.id }}
	{{ program.title }}
{% endblock %}

{% block stylesheets %}

	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col col-sm-12 col-md-12 col-lg-4 mt-5">
				<img class="align-self-start  w-100 mt-5 p-5" src="{{program.poster}}" alt="{{ program.title }} poster">
			</div>
			<div class="col col-sm-12 col-md-12 col-lg-8 mt-5">

				<h1 class="mt-5">{{ program.title }}</h1>
				<p>
					<span class="fw-bold mt-5">Category :</span>
					{{ program.category.name }}</p>
				<p>
					<span class="fw-bold mt-5">Summary :</span>
					{{ program.summary }}</p>

				{% for season in seasons %}

					<p>
						<a class="btn btn-secondary" href="{{ path("program_season_show", {"program_id": program.id, "season_id": season.id}) }}">
							Season
							<span class="fw-bold">{{ season.number }}</span>
						</a>

						-
						<span class="fw-bold">Release year:</span>
						{{ season.year }}</p>

					<p>
						<span class="fw-bold">Description:</span>
						{{ season.description }}</p>

				{% else %}
					No serie found in this category :(
				{% endfor %}
			</div>

			<a class="btn btn-dark w-25 m-auto my-5" href="{{ path('program_index') }}">
				Return to the Programs page
			</a>

		</div>
	</section>

{% endblock %}
